body {
    background-color: #e8e7ea;
    align-content: center;
    height: 100%;
    width: 100%;  
}
.top {
    height: 60px;
    width: 100%;
}

.navbar {
    font-family: 'Montserrat', sans-serif;
    color: #e8e7ea;
    background-color: #393837;
}
.accTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color: #393837;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    
    margin:auto;
    height: 110px;
    width: 120px;
    font-family: 'Montserrat', sans-serif;
    font-style: thin;
    font-size: 30px;
    color: #393837;
    line-height: 1.1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    
}
.breakdown {
    font-family: 'Lora', serif;
}
.demoReel{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color: #393837;
    text-align: center;
    margin-left: auto;
    margin-right: auto; 
}

.portfolio{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color: #393837;
    text-align: center;
    margin-left: auto;
    margin-right: auto; 

}
.bottom{
        background-image: url(BG_ArrowsGIF.gif);
        height: 40px;
        width: 100%;
        margin-left: auto;
        margin-right: auto; 

}


